.popupTitle {
	text-align: center;
	font-size: large;
	font-weight: bolder;

}

.warning {
     text-align: center;
     font-size: small;
}

.sentiment-info {
	text-align: center;
}

